<div id="noosferoka-header" style="display:none">
  <div class="noosferoka-header">
    <div><%= image_tag('/designs/themes/noosferoka/images/header-background.png', :class => 'noosferoka-banner') %></div>
  </div>
</div>

<script>
jQuery(function($) {
  $(document).ready(function(){
    $('#boxes').prepend($('#noosferoka-header').html());
    $('.block .link-list-items li').prepend("<div class='square' style='display:inline-block'>&nbsp;</div>");
  });
});
</script>
